.i18n-row {
    margin-left: 0;
}
    .i18n-row input,
    .i18n-row textarea {
        box-sizing: border-box;
        width: 100%;
    }

    .i18n-row input {
        padding-top: 15px;
        padding-bottom: 15px;
    }

label {
    color: #999;
    font-size: 13px;
    margin-bottom: 2px;
}

.i18n-translation {
    margin-top: 20px;
}

.i18n-translations {
    margin-top: 20px;
    border-top: 1px dotted #ddd;
}

.i18n-code {
    box-sizing: border-box;
}
    .i18n-code .invalid {
        background: #E07C7C;
        padding: 0 4px;
    }

.i18n-actions {
    margin-top: 20px;
    margin-bottom: 20px;
}

.typeahead .active a {
    color: #fff !important;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

#i18n-copied {
    display: inline;
    float: left;
    margin-bottom: 0;
    margin-right: 5px;
    padding-top: 3px;
    padding-bottom: 5px;
}
    #i18n-copied.hidden {
        display: none;
    }

.i18n-yii-template {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0;
    border: none;
    border-radius: 0;
    background: transparent;
}
