.i18n-row {
    margin-left: 0;
}
    .i18n-row input,
    .i18n-row textarea {
        box-sizing: border-box;
        width: 100%;
    }

    .i18n-row input {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .i18n-row label {
        color: #999;
        font-size: 13px;
        margin-bottom: 2px;
    }

.i18n-code {
    box-sizing: border-box;
}
    .i18n-code .invalid {
        background: #E07C7C;
        padding: 0 4px;
    }

.typeahead .active a {
    color: #fff !important;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}
